.parcels-container{
    width: 100%;
}

.yourClassName {
    width: 100%; 
    box-sizing: border-box; 
    overflow: hidden; 
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.yourClassName p{
    background-color: rgb(246, 246, 246);
    margin: 0px;
}
  
.info-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sender-info,
.receiver-info,
.parcel-info, 
.parcel1-info {
    width: calc(25% - 10px); 
    margin-right: 10px; 
    float: left; 
    box-sizing: border-box; 
    background-color: rgb(223, 223, 223);
}

@media only screen and (max-width: 767px) {
    .sender-info,
    .receiver-info,
    .parcel-info, 
    .parcel1-info {
        width: calc(50% - 10px); 
        margin-right: 0; 
        float: left; 
        margin: 0 5px 10px 5px;
}
}